<html>
   <body>
   
      <form action = "http://localhost:5000/fractal" method = "POST">
         <p>X1 <input type = "text" name = "x1" /></p>
         <p>Y1 <input type = "text" name = "y1" /></p>
         <p>X2 <input type = "text" name = "x2" /></p>
         <p>Y2 <input type ="text" name = "y2" /></p>
         <p>Ancho <input type ="text" name = "ancho" /></p>
         <p>Iteraciones <input type ="text" name = "iteraciones" /></p>
         <input type="color" value="rgb(0,0,1)" name = "color">
         <input type="color" value="rgb(0,1,0)" name = "color">
         <input type="color" value="rgb(1,0,0)" name = "color">
         <input type="color" value="rgb(0,1,1)" name = "color">
         <input type="color" value="rgb(1,0,1)" name = "color">
         <input type="color" value="rgb(1,1,0)" name = "color">
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>