<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Astronomy Website Template</title>
  <link  href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" media="screen">
  <link  href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/treemap.js"></script>

</head>
<body>
  <div id="header">
    <div class="wrapper clearfix">
      <div id="logo">
        <a href="/"><img src="{{url_for('static', filename='images/logo.png')}}" alt="LOGO"></a>
      </div>
      <ul id="navigation">
        <li>
          <a href="/rss">RSS</a>
        </li>
        <li>
          <a href="/restaurants/all">See All Restaurants</a>
        </li>
        <li>
          <a href="/restaurants">Search&Edit Restaurants</a>
        </li>
        <li>
          <a href="/restaurants/statistics">Statistics</a>
        </li>
        <li>
          <a href="/restaurants/maps">Locations</a>
        </li>
      </ul>
    </div>
    {% if not session['username'] and not session['password'] %}
    <div class="boxform">
      <form action="/login" method="POST">
        <div class="container">
          <div class="col-sm-6 col-xs-12">
            <label style="display: none"><b>Username</b></label>
            <input style="display: none"type="text" placeholder="Enter Username" name="uname" required>
          </div>
          <div class="col-sm-6 col-xs-12">
            <label style="display: none"><b>Password</b></label>
            <input style="display: none"type="password" placeholder="Enter Password" name="psw" required>
            <button style="display: none"type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
    {% else %}
    <div class="welcome box">
      <h2 class="welcome text">Bienvenido {{session['name']}}!</h2>
      <form action="/logout">
        <button class="wellcome button" type="submit">Logout</button>
      </form>
      {% endif %}
    </div>

    <div class="container">

      {% if page == "home" %}
        {% block home %}{% endblock %}
        {% else %}
          {% if page == "blog" %}
            {% block blog %}{% endblock %}
          {% endif %}
      {% endif %}

    </div>

    <div id="footer">


      {% if page == "register" %}
        {% block register %}{% endblock %}
      {% else %}
        {% if page == "profile_view" %}
          {% block profile_view %}{% endblock %}
        {% else %}
          {% if page == "profile_edit" %}
            {% block profile_edit %}{% endblock %}
          {% else %}
            {% if page == "road" %}
              {% block road %}{% endblock %}
            {% else %}
              {% if page == "restaurants" %}
                {% block restaurants %}{% endblock %}
              {% else %}
                {% if page == "restaurants_all" %}
                  {% block restaurants_all %}{% endblock %}
                {% else %}
                  {% if page == "restaurants_search" %}
                    {% block restaurants_search %}{% endblock %}
                  {% else %}
                    {% if page == "restaurants_edit" %}
                      {% block restaurants_edit %}{% endblock %}
                    {% else %}
                      {% if page == "restaurants_statistics" %}
                        {% block restaurants_statistics %}{% endblock %}
                      {% else %}
                        {% if page == "rss" %}
                          {% block rss %}{% endblock %}
                        {% else %}
                          {% if page == "maps" %}
                            {% block maps %}{% endblock %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
      <div class="container-fluid">
        <ul id="featured" class="row">
          <li class="col-md-3 col-sm-6">
            <img src="{{url_for('static', filename='images/astronaut.jpg')}}" alt="Img" height="204" width="220">
            <h3><a href="/blog">Category 1</a></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
            </p>
          </li>
          <li class="col-md-3 col-sm-6">
            <img src="{{url_for('static', filename='images/earth.jpg')}}" alt="Img" height="204" width="220">
            <h3><a href="/blog">Category 2</a></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
            </p>
          </li>
          <li class="col-md-3 col-sm-6">
            <img src="{{url_for('static', filename='images/spacecraft-small.jpg')}}" alt="Img" height="204" width="220">
            <h3><a href="/blog">Category 3</a></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
            </p>
          </li>
          <li class="col-md-3 col-sm-6">
            <img src="{{url_for('static', filename='images/space-shuttle.jpg')}}" alt="Img" height="204" width="220">
            <h3><a href="/blog">Category 4</a></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
            </p>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="wrapper clearfix">
          <div id="links">
            <div>
              <h4>Social</h4>
              <ul>
                <li>
                  <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank">Google +</a>
                </li>
                <li>
                  <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank">Facebook</a>
                </li>
                <li>
                  <a href="http://freewebsitetemplates.com/go/youtube/" target="_blank">Youtube</a>
                </li>
              </ul>
            </div>
            <div>
              <h4>Heading placeholder</h4>
              <ul>
                <li>
                  <a href="/">Link Title 1</a>
                </li>
                <li>
                  <a href="/">Link Title 2</a>
                </li>
                <li>
                  <a href="/">Link Title 3</a>
                </li>
              </ul>
            </div>
          </div>
          <div id="newsletter">
            <h4>Newsletter</h4>
            <p>
              Sign up for Our Newsletter
            </p>
            <form action="/" method="post">
              <input type="text" value="">
              <input type="submit" value="Sign Up!">
            </form>
          </div>
          <p class="footnote">
            © Copyright © 2023.Company name all rights reserved
          </p>
        </div>
      </div>
    </div>
    </html>
