{% extends "layout.html" %}
{% block home %}
<div id="contents">
	<div id="adbox">
		<div class="wrapper clearfix">
			<div class="info">
				<h1>Sonsectetur adipiscing elit.</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae quam et tortor consequat porta. Sed faucibus, ligula quis mollis lobortis, diam felis tempus enim, a vestibulum eros quam ac magna. Vestibulum varius porttitor elit, et vulputate odio egestas sit amet.
				</p>
			</div>
		</div>
		<div class="highlight">
			<h2>Lorem ipsum dolor sit amet - <i>consectetur adipiscing elit.</i></h2>
		</div>
	</div>
	<div class="body clearfix">
		<div class="click-here">
			<h1>Lorem Ipsum Dolor!</h1>
			<a href="/" class="btn2">Click Here!</a>
		</div>
		<p style="font-size:12px;">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula. Praesent aliquam semper massa et scelerisque. Suspendisse dapibus interdum diam, non varius nisl laoreet at. Pellentesque imperdiet molestie sollicitudin. Sed nec magna nibh, sed interdum nisi. Mauris vel pretium nibh. Morbi congue velit quis eros imperdiet ac el eifend elit condimentum. Nulla vestibulum dictum tellus quis iaculis. Duis a diam vitae sem tristique vestibulum. Praesent dapibus, tortor nec hendrerit pulvinar, lectus tortor viverra ante,
		</p>
	</div>
	<div>
		<button style="display: table; margin: 0 auto" id="home_font" class="wellcome button" onclick="changeFont();" name="">Change Font</button>
	</div>
	<script type="text/javascript">
		function changeFont(){
			$(document.body).css('font-family','"Times New Roman"');
		}
	</script>
</div>
{% endblock %}

{% block blog %}
<div id="contents">
	<div class="wrapper clearfix">
		<div id="sidebar">
			<ul>
				<li>
					<a href="/blog"><img src="{{url_for('static', filename='images/earth-small.jpg')}}" alt="Img" height="154" width="213"></a>
				</li>
				<li>
					<a href="/blog"><img src="{{url_for('static', filename='images/spaceshuttle-closeup.jpg')}}" alt="Img" height="154" width="213"></a>
				</li>
			</ul>
			<div class="click-here">
				<h1>Lorem Ipsum Dolor!</h1>
				<a href="/" class="btn1">Click Here!</a>
			</div>
		</div>
		<div class="main">
			<h1>Blog</h1>
			<ul class="list">
				<li>
					<span class="time">01-01-2012</span>
					<h4>Blog Title One</h4>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your 
						own text.This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with 
						your own text.
					</p>
					<a href="/blog" class="more">Read more&gt;&gt;</a>
				</li>
				<li>
					<span class="time">01-01-2012</span>
					<h4>Blog Title One</h4>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your 
						own text.This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with 
						your own text.
					</p>
					<a href="/blog" class="more">Read more&gt;&gt;</a>
				</li>
				<li>
					<span class="time">01-01-2012</span>
					<h4>Blog Title One</h4>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your 
						own text.This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with 
						your own text.
					</p>
					<a href="/blog" class="more">Read more&gt;&gt;</a>
				</li>
			</ul>
			<ul class="pagination">
				<li>
					<a href="/blog">&lt;&lt;</a>
				</li>
				<li>
					<a href="/blog">First</a>
				</li>
				{% for i in range(1,21) %}
				<li class="selected">
					<a href="/blog">{{i}}</a>
				</li>
				{% endfor %}
				<li>
					<a href="/blog">Last</a>
				</li>
				<li>
					<a href="/blog">&gt;&gt;</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block register %}
<form action="/register" method="POST">
	<div class="container register">
		<div>
			<label><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" required>

			<label><b>Nombre</b></label>
			<input type="text" placeholder="Enter your Name" name="name">

		</div> 

		<div> 
			<label><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw1" required>

			<label><b>Apellidos</b></label>
			<input type="text" placeholder="Enter your Last Name" name="lastname">

		</div> 
		<div> 
			<label><b>Password</b></label>
			<input type="password" placeholder="Repeat Password" name="psw2" required>


			<label><b>Dirección</b></label>
			<input type="text" placeholder="Enter your Address" name="address">
		</div>
		<button class="wellcome button" type="submit">Submit</button>
	</div>
</form>
{% endblock %}


{% block profile_view %}
<div class="container register">
	<div>
		<span><b>Username</b></span>
		<span>{{session['username']}} | </span>

		<span><b>Nombre</b></span>
		<span>{{session['name']}} | </span>
	</div> 
	<div> 
		<span><b>Password</b></span>
		<span>********** | </span>

		<span><b>Apellidos</b></span>
		<span>{{session['lastname']}} | </span>
	</div> 
	<div> 	    
		<span><b>Dirección</b></span>
		<span>{{session['address']}}</span>
	</div>
	<form action="/profile/edit">
		<button class="wellcome button" type="submit">Change profile</button>
	</form>
</div>
{% endblock %}

{% block profile_edit %}
<form action="/profile/view" method="POST">
	<div class="container register">
		<div>
			<label><b>Username</b></label>
			<input type="text" placeholder="{{session['username']}}"" name="uname">

			<label><b>Nombre</b></label>
			<input type="text" placeholder="{{session['name']}}"" name="name">

		</div> 

		<div> 
			<label><b>Password</b></label>
			<input type="password" placeholder="*********" name="psw1" required>

			<label><b>Apellidos</b></label>
			<input type="text" placeholder="{{session['lastname']}}" name="lastname">

		</div> 
		<div> 
			<label><b>Password</b></label>
			<input type="password" placeholder="*********" name="psw2" required>


			<label><b>Dirección</b></label>
			<input type="text" placeholder="{{session['address']}}" name="address">
		</div>
		<button class="wellcome button" type="submit">Submit</button>
	</div>
</form>
{% endblock %}

{% block road %}
<h2 style="text-align: center">Last visited links</h2>
<div style="text-align: center">
	<div style="display: block"><b>{{session['url1']}}</b></div>
	<div style="display: block"><b>{{session['url2']}}</b></div>
	<div style="display: block"><b>{{session['url3']}}</b></div>
</div> 
{% endblock %}

{% block restaurants %}
<h1 style="text-align: center; font-weight: bold">Restaurants</h1>
<form id="rsearch" action="/restaurants/search" method="GET">
	<div style="text-align: center">
		<input type="search" placeholder="Search restaurants..." name="name">
	</div>
</form>
<h2 style="text-align: center; font-weight: bold">Add new restaurant</h2>
<form id="add_restaurant" action="/restaurants" method="POST">
	<div class="container register">
		<div id="restaurant_form">
			<div>
				<label><b>Name</b></label>
				<input type="text" placeholder="Enter Name of Restaurant" name="rname" required>

				<label><b>Cuisine</b></label>
				<input type="text" placeholder="Enter type of Food" name="rcuisine">
			</div> 

			<div> 
				<label><b>Borough</b></label>
				<input type="text" placeholder="Enter City" name="rborough">

				<label><b>Street</b></label>
				<input id="address" type="text" placeholder="Enter the street" name="rstreet" required>
				<button id="address_button" class="wellcome button" type="button" onclick="localizeStreet();">Localize</button>
			</div> 

			<div> 
				<label><b>Coord Y</b></label>
				<input id="add_coordy" type="text" placeholder="Enter Y coord or localize" name="rcoordy" required>

				<label><b>Coord X</b></label>
				<input id="add_coordx" type="text" placeholder="Enter X coord or localize" name="rcoordx">
			</div> 
			<style type="text/css">
				#street_map {width: 50%; height: 50%; margin: 0 auto; margin-top: 50px; margin-bottom: 50px; display: none;}
			</style>
			<body onload="initialize()">
				<div id="street_map"></div>
			</body>
			<script type="text/javascript">
				function localizeStreet(){
					$('#address_button').click(function() {
						$('#street_map').css('display', 'table');
						google.maps.event.trigger(map, 'resize');
						codeAddress();
					});
				}
				var geocoder;
				var map;
				function initialize() {
					geocoder = new google.maps.Geocoder();
					var latlng = new google.maps.LatLng(-34.397, 150.644);
					var mapOptions = {
						zoom: 18,
						center: latlng
					}
					map = new google.maps.Map(document.getElementById("street_map"), mapOptions);
				}

				function codeAddress() {
					var address = document.getElementById("address").value;
					geocoder.geocode( { 'address': address}, function(results, status) {
						if (status == google.maps.GeocoderStatus.OK) {

							map.setCenter(results[0].geometry.location);
							var marker = new google.maps.Marker({
								map: map,
								position: results[0].geometry.location
							});
							document.getElementById("add_coordx").value = marker.getPosition().lat();
							document.getElementById("add_coordy").value = marker.getPosition().lng();
						} else {
							alert("Geocode was not successful for the following reason: " + status);
						}
					});
				}

			</script>
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtFRgBJC2mWP5RXGEJzWtozjejpiuKY28&callback=initialize"></script>
			<button class="wellcome button" type="submit">Add</button>
			{% if restaurant['name'] %}
			<h3 style="color: green">Restaurant {{restaurant['name']}} added successfully</h3>
			{% endif %}
		</div>
	</div>    
</form>
{% endblock %}

{% block restaurants_all %}

<h1 style="text-align: center; font-weight: bold">All restaurants</h1>
<div id="info_restaurants" style="margin: 0 auto;">
	<div style="display: table; margin: 0 auto;">
		{% for i in range(start,end) %}
		<div style="margin: 10px 0 10px 0;">
			<a href="/restaurants/search?name={{restaurants[i]['name'].replace(' ', '+')}}">
				<span><b>Name</b></span>
				<span>{{restaurants[i]['name']}} </span>

				{% if restaurants[i]['cuisine'] %}
				<span><b>| Cuisine</b></span>
				<span>{{restaurants[i]['cuisine']}} </span>     
				{% endif %}

				{% if restaurants[i]['borough'] %}
				<span><b>| Borough</b></span>
				<span>{{restaurants[i]['borough']}} </span>
				{% endif %}

				{% if restaurants[i]['address'] and restaurants[i]['address']['street'] %}
				<span><b>| Street</b></span>
				<span>{{restaurants[i]['address']['street']}} </span>
				{% endif %}
			</a>
		</div>  
		{% endfor %}
	</div>
	<style type="text/css">
		#res_map { width: 50%; height: 50%; display: table; margin: 0 auto; margin-top: 50px; margin-bottom: 50px;}
	</style>
	<div id="res_map"></div>
	<script>
		function initMap() {
        var size = {{end - start}};
        var data = '{{ restaurants[start:end] }}';
        data = data.replace(/u&#39;/g , '"'); 
        data = data.replace(/&#39;/g , '"');
        data = data.replace(/u&#34;/g , '"'); 
        data = data.replace(/&#34;/g , '"'); 
        data = JSON.parse(data);

        var coordx = 0, coordy = 0;
        for(var i=0; i < size; i++){
        	coordx += data[i]['coordx'];
        	coordy += data[i]['coordy'];
        }
        var centralLatLng = {lat: coordx/size, lng: coordy/size};
        
        var map = new google.maps.Map(document.getElementById('res_map'), {
        	center: centralLatLng,
        	scrollwheel: true,
        	zoom: 11
        });
        
        for(var i=0; i < size; i++){
            var myLatLng = {lat: data[i]['coordx'], lng: data[i]['coordy']};
            var marker = new google.maps.Marker({
            	map: map,
            	position: myLatLng,
            	title: data[i]['name']
            });
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtFRgBJC2mWP5RXGEJzWtozjejpiuKY28&callback=initMap"></script>
<nav aria-label="Page navigation" style="display: table; margin: 0 auto">
	<ul class="pagination pagination-sm pagination-xs">
		<li>
			<a id="first_page" onclick="clickPage(0, 10);" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% for i in range(value|round|int, 15+value|round|int) %}
			{% if (i*10)+15 < restaurants|length %}
				{% if (end/10)|int == (i+1) %}
					<li><a id="{{(i+1)}}" style="background-color: #73beff;">{{(i+1)}}</a></li>
				{% else %}
					<li><a id="{{(i+1)}}" onclick="clickPage({{(i+1)*10-9}}, {{(i+1)*10}});">{{(i+1)}}</a></li>
				{% endif %}
			{% endif %}
		{% endfor %}
		<li>
			<a id="last_page" onclick="clickPage({{restaurants|length-9}}, {{restaurants|length}});" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>

</div>
<div id="end_info_restaurants"></div>

<script sync>
	$(document).ready(function(){});

	function clickPage(start, end) {
		$.ajax({
			type: "GET",
			url: "/restaurants/all?start=" + start + "&end=" +end,
			data: { id: $("#page3").val(), access_token: $("#access_token").val() },
			success:function(result){  
				result = result.split('id="info_restaurants" style="margin: 0 auto;">')[1].split('<div id="end_info_restaurants"')[0];
				$("#info_restaurants").html(result);
			}
		})
	}
</script>
{% endblock %}

{% block restaurants_search %}

{% if restaurant %}
	<h1 style="text-align: center; font-weight: bold">Restaurant {{restaurant['name']}}</h1>
	<div class="container register">
		<div>
			<span><b>Name</b></span>
			<span>{{restaurant['name']}} </span>

			{% if restaurant['cuisine'] %}
			<span><b>| Cuisine</b></span>
			<span>{{restaurant['cuisine']}} </span>	    
			{% endif %}

			{% if restaurant['borough'] %}
			<span><b>| Borough</b></span>
			<span>{{restaurant['borough']}} </span>
			{% endif %}

			{% if restaurant['address'] and restaurant['address']['street'] %}
			<span><b>| Street</b></span>
			<span>{{restaurant['address']['street']}} </span>
			{% endif %}
		</div> 
		<div class="clearfix"></div>
		<form style="display: inline-block" action="/restaurants/edit",  method="GET">
			<input style="display: none" type="text" placeholder="Enter the street" value="{{restaurant['_id']}}" name="id">
			<button class="wellcome button" type="submit">Modify Restaurant</button>
		</form>
		<form style="display: inline-block" action="/restaurants">
			<button class="wellcome button" type="submit">Back to search</button>
		</form>
	</div>
	<div id="all_tweets">
		{% if tweets %}
			{% for tweet in tweets %}
				<div class="single_tweet">
					<blockquote class="twitter-tweet">
						<p lang="en" dir="ltr">{{tweet.text}}
						</p>
						<a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}"></a>
					</blockquote> 
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% else %}
	<h2 style="text-align: center; font-weight: bold">No restaurant found</h2>
	<div class="clearfix"></div>
	<form style="display: table; margin: 0 auto; margin-bottom: 30px" action="/restaurants">
		<button class="wellcome button" type="submit">Back to search</button>
	</form>
{% endif %}

{% endblock %}

{% block restaurants_edit %}

<h1 style="text-align: center; font-weight: bold">Restaurant {{restaurant['name']}} found!</h1>
<form method="POST">
	<div class="container register">
		<div>
			<label><b>Name</b></label>
			<input type="text" placeholder="{{restaurant['name']}}"" name="rname">

			<label><b>Cuisine</b></label>
			<input type="text" placeholder="{{restaurant['cuisine']}}"" name="rcuisine">
		</div> 
		<div> 
			<label><b>Borough</b></label>
			<input type="text" placeholder="{{restaurant['borough']}}" name="rborough">

			<label><b>Street</b></label>
			<input id="address" type="text" placeholder="{{restaurant['address']['street']}}" name="rstreet">
			<button id="address_button" class="wellcome button" type="button" onclick="localizeStreet();">Localize</button>

		</div> 
		<div> 
			<label><b>Coord Y</b></label>
			<input id="add_coordy" type="text" placeholder="{{restaurant['address']['coord'][0]}}" name="rcoordy">

			<label><b>Coord X</b></label>
			<input id="add_coordx" type="text" placeholder="{{restaurant['address']['coord'][1]}}" name="rcoordx">
		</div> 
		<style type="text/css">
			#street_map {width: 50%; height: 50%; margin: 0 auto; margin-top: 50px; margin-bottom: 50px; display: none;}
		</style>
		<body onload="initialize()">
			<div id="street_map"></div>
		</body>
		<script type="text/javascript">
			function localizeStreet(){
				$('#address_button').click(function() {
					$('#street_map').css('display', 'table');
					google.maps.event.trigger(map, 'resize');
					codeAddress();
				});
			}
			var geocoder;
			var map;
			function initialize() {
				geocoder = new google.maps.Geocoder();
				var latlng = new google.maps.LatLng(-34.397, 150.644);
				var mapOptions = {
					zoom: 18,
					center: latlng
				}
				map = new google.maps.Map(document.getElementById("street_map"), mapOptions);
			}

			function codeAddress() {
				var address = document.getElementById("address").value;
				geocoder.geocode( { 'address': address}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
		                map.setCenter(results[0].geometry.location);
		                var marker = new google.maps.Marker({
		                	map: map,
		                	position: results[0].geometry.location
		                });
		                document.getElementById("add_coordx").value = marker.getPosition().lat();
		                document.getElementById("add_coordy").value = marker.getPosition().lng();
		            } else {
		            	alert("Geocode was not successful for the following reason: " + status);
		            }
				});
			}

		</script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtFRgBJC2mWP5RXGEJzWtozjejpiuKY28&callback=initialize"></script>
		<button class="wellcome button" type="submit">Save Changes</button>
		<button href="/restaurants" style="display: inline-block" class="wellcome button" type="submit">Back to search</button>
	</div>
</form>
{% endblock %}

{% block restaurants_statistics %}
<script>
	var cuisine = {{ cuisine|safe }}
	var borough = {{ borough|safe }}
	$(function () {
		Highcharts.chart('container_cuisine', {
			colorAxis: {
				minColor: '#176eb0',
				maxColor: '#FFFFFF'
			},
			series: [{
				type: 'treemap',
				layoutAlgorithm: 'squarified',
				data: cuisine
			}],
			title: {
				text: 'Cuisine Treemap'
			}
		});
	});
	$(function () {

		    // Radialize the colors
		    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
		    	return {
		    		radialGradient: {
		    			cx: 0.5,
		    			cy: 0.3,
		    			r: 0.7
		    		},
		    		stops: [
		    		[0, color],
		                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		                ]
		            };
		        });

		    // Build the chart
		    Highcharts.chart('container_borough', {
		    	chart: {
		    		plotBackgroundColor: null,
		    		plotBorderWidth: null,
		    		plotShadow: false,
		    		type: 'pie'
		    	},
		    	title: {
		    		text: 'Restaurants Borough'
		    	},
		    	tooltip: {
		    		pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		    	},
		    	plotOptions: {
		    		pie: {
		    			allowPointSelect: true,
		    			cursor: 'pointer',
		    			dataLabels: {
		    				enabled: true,
		    				format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		    				style: {
		    					color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		    				},
		    				connectorColor: 'silver'
		    			}
		    		}
		    	},
		    	series: [{
		    		name: 'Brands',
		    		data: borough
		    	}]
		    });
		});
	</script>
	<div id="container_cuisine" style="width:100%; height:700px;"></div>
	<div id="container_borough" style="width:100%; height:700px;"></div>

	{% endblock %}



	{% block maps %}
	<style type="text/css">
		#map { width: 80%; height: 80%; display: table; margin: 0 auto; margin-top: 50px; margin-bottom: 50px;}
	</style>
	<h1 style="text-align: center; font-weight: bold">Map of some restaurants</h1>
	<h3 style="text-align: center; font-weight: bold">This may take some minutes...</h3>
	<h4 style="text-align: center; color: black">Be patient :)</h4>
	<div id="map"></div>
	<script>
		function initMap() {
        // Create a map object and specify the DOM element for display.
        var size = {{ elements }};
        var data = '{{ res_data }}';
        data = data.replace(/u&#39;/g , '"'); 
        data = data.replace(/&#39;/g , '"');
        data = data.replace(/u&#34;/g , '"'); 
        data = data.replace(/&#34;/g , '"'); 
        data = JSON.parse(data);

        var map = new google.maps.Map(document.getElementById('map'), {
        	center: {lat: 0, lng: 0},
        	scrollwheel: true,
        	zoom: 2
        });
        var rows = 20.0;
        var cols = 35.0;
        var lat_inc = 170.0/rows;
        var lng_inc = 360.0/cols;
        var found = true;
        var cnt = 0;

        for(var i=0; i < rows; i++){
        	for(var j=0; j < cols; j++){
        		found = false;
        		var up_limit = -85.0+(i*lat_inc);
        		var down_limit = -85.0+((i+1)*lat_inc);
        		var left_limit = -180.0+(j*lng_inc);
        		var right_limit = -180.0+((j+1)*lng_inc);
        		for(var k=0; k < size && !found; k++){
                    var myLatLng = {lat: parseFloat(data[k]['coordx']), lng: parseFloat(data[k]['coordy'])};

                    if ( ( myLatLng['lat'] >  up_limit && myLatLng['lat'] < down_limit ) 
                    	&& ( myLatLng['lng'] > left_limit && myLatLng['lng'] < right_limit ) )
                    {
                    	var marker = new google.maps.Marker({
                    		map: map,
                    		position: myLatLng,
                    		title: data[k]['name']
                    	});
                    	found = true;
                    	cnt += 1;
                    }
                }
            }
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtFRgBJC2mWP5RXGEJzWtozjejpiuKY28&callback=initMap"></script>
{% endblock %}

{% block rss %}

<h1 style="text-align: center; font-weight: bold">RSS Articles</h1>
<form id="rsearch" style="margin-bottom: 50px" action="/rss" method="POST">
	<div style="text-align: center">
		<input type="search" placeholder="Search articles..." name="string_data">
	</div>
</form>
{% if method == 'POST' %}
	<div style="display:table; margin: 0 auto" id="rss_data_content"></div>
	<script type="text/javascript">
		var div = document.getElementById('rss_data_content');
		data = '{{rss_data}}';
		data = data.replace(/&lt;/g , "<"); 
		data = data.replace(/&gt;/g , ">"); 
		data = data.replace(/&#39;/g , "'"); 
		data = data.replace(/<p/g , "<h4>"); 
		data = data.replace(/p>/g , "</h4>"); 
		div.innerHTML = data; 
	</script>
{% endif %}
{% endblock %}
