{% extends "layout.html" %}
{% block home %}
<div id="contents">
  <div id="adbox">
    <div class="wrapper clearfix">
      <div class="info">
        <h1>Sonsectetur adipiscing elit.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae quam et tortor consequat porta. Sed faucibus, ligula quis mollis lobortis, diam felis tempus enim, a vestibulum eros quam ac magna. Vestibulum varius porttitor elit, et vulputate odio egestas sit amet.
        </p>
      </div>
    </div>
    <div class="highlight">
      <h2>Lorem ipsum dolor sit amet - <i>consectetur adipiscing elit.</i></h2>
    </div>
  </div>
  <div class="body clearfix">
    <div class="click-here">
      <h1>Lorem Ipsum Dolor!</h1>
      <a href="/" class="btn2">Click Here!</a>
    </div>
    <p style="font-size:12px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula. Praesent aliquam semper massa et scelerisque. Suspendisse dapibus interdum diam, non varius nisl laoreet at. Pellentesque imperdiet molestie sollicitudin. Sed nec magna nibh, sed interdum nisi. Mauris vel pretium nibh. Morbi congue velit quis eros imperdiet ac el eifend elit condimentum. Nulla vestibulum dictum tellus quis iaculis. Duis a diam vitae sem tristique vestibulum. Praesent dapibus, tortor nec hendrerit pulvinar, lectus tortor viverra ante,
    </p>
  </div>
</div>
{% endblock %}

{% block blog %}
<div id="contents">
	<div class="wrapper clearfix">
		<div id="sidebar">
			<ul>
				<li>
					<a href="/blog"><img src="{{url_for('static', filename='images/earth-small.jpg')}}" alt="Img" height="154" width="213"></a>
				</li>
				<li>
					<a href="/blog"><img src="{{url_for('static', filename='images/spaceshuttle-closeup.jpg')}}" alt="Img" height="154" width="213"></a>
				</li>
			</ul>
			<div class="click-here">
				<h1>Lorem Ipsum Dolor!</h1>
				<a href="/" class="btn1">Click Here!</a>
			</div>
		</div>
		<div class="main">
			<h1>Blog</h1>
			<ul class="list">
				<li>
					<span class="time">01-01-2012</span>
					<h4>Blog Title One</h4>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your 
						own text.This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with 
						your own text.
					</p>
					<a href="/blog" class="more">Read more&gt;&gt;</a>
				</li>
				<li>
					<span class="time">01-01-2012</span>
					<h4>Blog Title One</h4>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your 
						own text.This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with 
						your own text.
					</p>
					<a href="/blog" class="more">Read more&gt;&gt;</a>
				</li>
				<li>
					<span class="time">01-01-2012</span>
					<h4>Blog Title One</h4>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your 
						own text.This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with 
						your own text.
					</p>
					<a href="/blog" class="more">Read more&gt;&gt;</a>
				</li>
			</ul>
			<ul class="pagination">
				<li>
					<a href="/blog">&lt;&lt;</a>
				</li>
				<li>
					<a href="/blog">First</a>
				</li>
				{% for i in range(1,21) %}
				<li class="selected">
					<a href="/blog">{{i}}</a>
				</li>
				{% endfor %}
				<li>
					<a href="/blog">Last</a>
				</li>
				<li>
					<a href="/blog">&gt;&gt;</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block register %}
<form action="/register" method="POST">
  <div class="container register">
    <div>
	    <label><b>Username</b></label>
	    <input type="text" placeholder="Enter Username" name="uname" required>

	    <label><b>Nombre</b></label>
	    <input type="text" placeholder="Enter your Name" name="name">
	    
   	</div> 

   <div> 
	    <label><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="psw1" required>
	
	    <label><b>Apellidos</b></label>
	    <input type="text" placeholder="Enter your Last Name" name="lastname">

   	</div> 
   	<div> 
   		<label><b>Password</b></label>
	    <input type="password" placeholder="Repeat Password" name="psw2" required>
	    

	    <label><b>Dirección</b></label>
	    <input type="text" placeholder="Enter your Address" name="address">
  	</div>
  		<button class="wellcome button" type="submit">Submit</button>
  </div>
</form>
{% endblock %}


{% block profile_view %}
  <div class="container register">
    <div>
	    <span><b>Username</b></span>
	    <span>{{session['username']}} | </span>

	    <span><b>Nombre</b></span>
	    <span>{{session['name']}} | </span>
   	</div> 
   <div> 
	    <span><b>Password</b></span>
	    <span>********** | </span>
	
	    <span><b>Apellidos</b></span>
	    <span>{{session['lastname']}} | </span>
   	</div> 
   	<div> 	    
	    <span><b>Dirección</b></span>
	    <span>{{session['address']}}</span>
  	</div>
  	<form action="/profile/edit">
  		<button class="wellcome button" type="submit">Change profile</button>
	</form>
  </div>
{% endblock %}

{% block profile_edit %}
<form action="/profile/view" method="POST">
  <div class="container register">
    <div>
	    <label><b>Username</b></label>
	    <input type="text" placeholder="{{session['username']}}"" name="uname">

	    <label><b>Nombre</b></label>
	    <input type="text" placeholder="{{session['name']}}"" name="name">
	    
   	</div> 

   <div> 
	    <label><b>Password</b></label>
	    <input type="password" placeholder="*********" name="psw1" required>
	
	    <label><b>Apellidos</b></label>
	    <input type="text" placeholder="{{session['lastname']}}" name="lastname">

   	</div> 
   	<div> 
   		<label><b>Password</b></label>
	    <input type="password" placeholder="*********" name="psw2" required>
	    

	    <label><b>Dirección</b></label>
	    <input type="text" placeholder="{{session['address']}}" name="address">
  	</div>
  		<button class="wellcome button" type="submit">Submit</button>
  </div>
</form>
{% endblock %}

{% block road %}
	<h2 style="text-align: center">Last visited links</h2>
	<div style="text-align: center">
	    <div style="display: block"><b>{{session['url1']}}</b></div>
	    <div style="display: block"><b>{{session['url2']}}</b></div>
	    <div style="display: block"><b>{{session['url3']}}</b></div>
   	</div> 
{% endblock %}